[2019-07-09 14:07] sc250024 opened #3 "README.md templating"
First off, let me say this is an **awesome** project! This saves so much time, so thank you for doing it!

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**

This is a feature request to have the CLI read from a

[2019-07-09 14:30] norwoodj commented on #3
Hi Scott!

Yes, I have been wanting to allow for users to put some amount of custom content into the README for a while, but couldn't find the right abstraction for making that happen. I think this is a wonderful idea, especially if we maintain backwards compatibility by implementing the following rules:
* If no `README.md.gotpl` (or other file specified with `--template`) file is found, default t

[2019-07-09 15:29] norwoodj opened #4 "Use cobra/viper for CLI parsing"
The CLI parsing in this project is frankly garbage, because I wrote this when I was relatively inexperienced with go. We should use the wonderful [cobra](https://github.com/spf13/cobra) and [viper](https://github.com/spf13/viper) libraries instead

[2019-07-10 05:39] sc250024 commented on #3
@norwoodj Maybe I can help? What have you looked into thus far? I know there is a tool called confd (https://github.com/kelseyhightower/confd) that I used previously. It was for a different purpose, but case in point, it did file templating, and is written in Go as well.

[2019-07-10 16:57] #4 closed

[2019-07-11 16:32] norwoodj commented on #3
I have a good idea of how it would be implemented, just lacking the time to do it at present. I made some updates to the project yesterday to at least make further extension easier, but I probably won't have the time to implement the templating functionality for a week or two.

[2019-07-17 22:29] #3 closed

[2019-07-17 22:37] norwoodj commented on #3
@sc250024 I've implemented this feature and updated the documentation to reflect the changed behaviour. Please let me know when you get a chance to test this out if there's anything confusing, or if things don't work the way you expect. Thanks for the suggestion!

[2019-07-18 11:54] sc250024 commented on #3
@norwoodj Thank you so much ! I tested out the README.md rendering with our CI pipeline, and it works great. Kudos for all the hard work :)

[2019-07-18 19:22] norwoodj opened #6 "Create homebrew tap for helm-docs"
In order to make it easier for folks to install helm-docs, we should add a homebrew tap so that one can simply `brew install` the tool.

[2019-07-18 19:22] sc250024 commented on #6
I can actually do that, I've authored a couple of formulas now

[2019-07-18 19:24] norwoodj commented on #6
Oh @sc250024, yeah, feel free. The [goreleaser](https://goreleaser.com/homebrew/) tool I've been using for releases has functionality for doing this automatically, so I was gonna try and figure out how to make that work. That being said, I've never done this before, so if you know how, feel free to contribute

[2019-07-18 20:14] #6 closed

[2019-07-29 13:54] norwoodj opened #9 "Allow Documentation for Lists and Maps"
We should allow non-empty lists and maps to be included in the values table with descriptions. This issue asks that we implement the following behavior for values table generation:

* Only leaf nodes  (empty lists, empty objects, strings, ints, and floats) are automatically documented
* If a list or object has a comment with a description, document it as a value, as you have done here. The `defaul

[2019-07-29 21:37] #9 closed

[2019-08-05 22:00] knackaron opened #12 "add option to ignore subcharts"
When subcharts are part of a Git repo and are only included for distribution (e.g., subchart as a Git submodule), helm-docs should have an option to ignore rendering docs for subcharts.

Example of undesirable behavior:
[code]

[2019-08-05 23:03] sc250024 commented on #12
@knackaron Can I ask why you're using Git submodules in your `charts/` directory? That seems to go against the whole workflow of the `helm dependency` command, as well as the point of the `requirements.yaml` and `requirements.lock` files in the first place.

[2019-08-05 23:18] knackaron commented on #12
We maintain a large number of private charts, of which many helper charts and subcharts are included across the primary charts and umbrella charts.  We found that maintaining chart dependencies as Git submodules to be better to keep everything in the Git workflow, versus relying on Helm's native dependency management and pulling in external artifacts from chart repositories.  It also ensures porta

[2019-08-06 13:37] RothAndrew commented on #12
Yeah, but, they should. GitLab's chart is confusing as hell, partly because it doesn't follow the standard convention of Helm's chart dependency system.

[2019-08-06 22:23] knackaron commented on #12
Opened a MR with the functionality I'm looking for.  It doesn't affect the default behavior.

[2019-08-07 12:11] sc250024 commented on #12
I'm learn towards @RothAndrew 's point, but if it's a use case, why not? Up to @norwoodj in the end.

[2019-08-07 23:05] norwoodj commented on #12
Hey, sorry I have been so slow on the response. I looked at your PR and I'm not sure if this is exactly the approach I want to go with. Thank you for the feature request, as it forced me to do something I have been meaning to do a long time.

See the PR I'll attach, it will add a `.helmdocsignore` file that can be used like a `.gitignore` file to exclude directories from processing. This way you c

[2019-08-07 23:18] #12 closed

[2019-08-07 23:22] knackaron commented on #12
@norwoodj Thanks.  That solution is superior and will work great for us.

[2019-08-17 04:56] halkeye opened #20 "Array of scalars is hard to document"
In my freshrss chart, I have an array of minutes for a cronjob to run, which by default is 23 and 53

[code]

produces

| Key | Type | Default | Description |
|-----|------|---------|-------------|
| freshrss.cron_min[0] | int | `23` |  |
| freshrss.cron_min[1] | int | `53` |  |

Is there a way to tell it to document the entire array not the specific entries in the array?

[2019-08-19 14:19] norwoodj commented on #20
Hey @halkeye, improved behavior for this was actually recently implemented in [v0.5.0](https://github.com/norwoodj/helm-docs/releases/tag/v0.5.0). You should upgrade or install helm-docs with homebrew:
[code]

It actually looks like you might have the newer version though, and the comment you have there should cause the list itself to be documented, your comment is just formatted wrong:

[code]

I

[2019-08-19 16:17] halkeye commented on #20
yay the double dash fixed it!

i tried to scour any docs and stuff to find it

[2019-08-19 16:19] norwoodj commented on #20
Glad to hear it! Closing this issue

[2019-08-19 16:19] #20 closed

[2019-09-06 15:17] sc250024 opened #21 "Including docs for subcharts"
@norwoodj This is a feature request / conversational issue. In a sense, it's the opposite of the https://github.com/norwoodj/helm-docs/issues/12 issue filed by @knackaron.

How easy / difficult would it be to _also_ document subcharts defined in the `requirements.yaml` file ? I know that typically this is not done. However, I'm in the process of writing a common Helm chart, and being able to docum

[2019-09-17 01:58] norwoodj commented on #21
I apologize @sc250024 I've been out of the country the last two weeks without a computer.

I'm not sure exactly what you mean, so you'd have to give me an example. Do you want the values from sub-charts to be captured in the README for the parent chart? I suppose that we could add a new command line option that would enable this behavior, but you'd have to answer a few questions regarding this fea

[2019-10-22 05:23] #21 closed

[2019-11-09 14:22] eddycharly opened #22 "Question : is this possible to configure default value column from comments ?"
Can we configure what is set in the default value column from comments ?
Sometimes the default value is quite large (a configuration file for example) and i would like to put a short description like `see in values.yaml` rather than the raw whole config file content.

[2020-01-09 15:02] sc250024 opened #24 "Special characters being rendered in Unicode format"
# Description

You can file this one under "Is this a feature or a bug?" Basically, when a special character like `&` is present in an entry in `values.yaml`, the rendered `README.md` file shows the character as a Unicode sequence.

I encountered this because the [elastic/elasticsearch](https://hub.kubeapps.com/charts/elastic/elasticsearch) charts allows specifying a value for `clusterHealthCheckP

[2020-01-12 14:36] norwoodj commented on #24
Hey @sc250024. Thanks for bringing this to my attention. Suspect this is an issue with the gotemplate renderer. Will definitely take a look at fi

[2020-01-15 09:50] Grannath commented on #22
Have the same feature request. Sometimes I calculate the default from other values, so I cannot put it into the values.yaml directly.

[2020-01-15 18:22] norwoodj commented on #22
Hmmm, apologies @eddycharly for taking so long to reply. I wasn't entirely sure what the use case was at first, and I kinda forgot to come back to this. This makes sense to me. Can y'all comment here with a quick example of the comment format you're envisioning to accomplish this? Definitely think this could be easily accomplished by having helm-docs recognize a new comment format and perform more

[2020-01-16 08:10] eddycharly commented on #22
@norwoodj see an example below.

Let's say i have an entry in my values.yaml like this :
[code]

this will generate the following markdown (more or less, i use a custom template) :

| Key | Type | Description | Default |
|-----|------|-------------|---------|
| pipeline.config.logging | object | Pipeline configuration for logging | `{"loglevel.controller":"info","loglevel.webhook":"info","zap-logg

[2020-01-16 12:45] Grannath commented on #22
I would prefer to split it. Lines are already getting quite long for some values.

[code]

This could be extended, to also allow customizing other columns, or even add new columns. So, when parsing, check all comments. Treat anything before the two dashes as a column name (ignore case). Special case is the field name, which maps to description. Maybe require that one to be present for other commen

[2020-01-16 14:55] eddycharly commented on #22
@Grannath 👍

[2020-01-20 12:56] Grannath commented on #22
@eddycharly I messed around with this in a merge request. Could need some review, since I have pretty much zero experience with Go. Also needs more examples, I guess. Please have a look and leave comments!

[2020-02-24 21:12] estahn opened #26 "Feature: Configuration file for various text snippets"
I have created a `README.md.gotmpl` that follows the official helm charts repo more closely, e.g. [README.md](https://github.com/helm/charts/blob/master/stable/nginx-ingress/README.md).

Unfortunately, not all information is present in the `Chart.yml` and therefore it's usually required to add more details to the README.md. This will then make it hard to update the `README.md` through helm-docs up

[2020-03-03 01:28] norwoodj commented on #22
Hey, @eddycharly and @Grannath I'm really sorry I've been so long to respond to this. I recently started a new job and have had a lot going on in my personal life

[2020-03-03 01:32] norwoodj commented on #22
Also, hit the wrong button. I didn't mean to close this issue.

[2020-03-03 01:42] norwoodj commented on #26
Hey @estahn. Thanks for taking the time to open this issue. I'm not entirely sure what the use case here is, unfortunately. Is the idea that you might want to repeat these snippets, like `.cfg.ChartRepository` many times in your README.md.gotmpl file? At present I don't see the value in factoring these values out into a separate file when what you've described above could be accomplished with the

[2020-03-24 10:12] raphstrebel opened #28 "Feature: allow for custom name of generated files"
Hey!
Would it be possible to include a flag to specify a new name for the generated markdown files ? :) I didn't find a way to change the names to something other than "README.md", and some other readme's of the project I'm using this tool for are getting overwritten...
Thanks!

[2020-03-24 23:26] eddycharly commented on #22
Hey @norwoodj, I had time to work on this today, I should be able to open a PR for it tomorrow. Just letting you know, in case it helps getting your attention 😄

[2020-03-27 13:55] Arabus opened #30 "Generated default README.md fails markdownlint"
Hello and thanks for all the effort you put into this. It already saved me hours of typing all the values.yaml tables.

Now my issue is, that a generated default README.md fails the markdownlint of https://github.com/DavidAnson/markdownlint in default configuration.

E.g.:

[code]

I know that I could write my own template or configure the yamllint to not fail on the default generated README.md (e

[2020-03-29 21:02] norwoodj commented on #22
@eddycharly, I'm really sorry, I'm the worst open source owner ever. I am finally looking at this now!

[2020-03-29 21:04] eddycharly commented on #22
No worries, only 5 days this time ! ;-) 👍

[2020-03-29 21:24] norwoodj commented on #22
I hope to be better going forward. I merged your change, it was fantastic @eddycharly. I just released [v0.10.0](https://github.com/norwoodj/helm-docs/releases/tag/v0.10.0) with your update. Thanks again!

[2020-03-29 21:25] #22 closed

[2020-03-29 21:26] norwoodj commented on #26
@estahn, I'm still thinking that this is a _lot_ of added complexity for a use case that I don't think is helpful enough to justify this. I'm going to close this for now, but feel free to re-open if you disagree.

[2020-03-29 21:26] #26 closed

[2020-03-29 21:44] estahn commented on #26
@norwoodj Sorry for the late response. The reason for this was to keep the `README.md.gotmpl` the same across multiple projects/teams. We would have a single `README.md.gotmpl` that multiple projects/teams can pull in from a single location. The current helm/charts/stable repo is (arguably) a good example of keeping READMEs consistent across charts.

However, I can see how this becomes messy with

[2020-03-30 01:17] #24 closed

[2020-03-30 01:18] norwoodj commented on #24
Hey @sc250024! Sorry for taking so long with this. I have now fixed the issue. It will be in v0.11.0 which I will release when I fix these last couple of open issues.

[2020-03-30 01:19] norwoodj commented on #28
@raphstrebel totally. Not a use case I'd thought of, but perfectly reasonable, and easy to do. Gimme a few minutes

[2020-03-30 01:28] #28 closed

[2020-03-30 01:29] norwoodj commented on #28
@raphstrebel, this is done. Look out for release v0.11.0 which I'll release later tonight with these changes.

[2020-03-30 01:32] norwoodj commented on #30
Hey @Arabus, I had not ever thought to lint the generated markdown, which probably would have been a good thing to do looking back on it...

Most of these line-length warnings are probably not reparable, unless you know a way to split table rows across multiple lines. Other than that though, I think sprucing up the template a bit so that most of these issues go away is a very good idea, and I'd be

[2020-03-30 01:41] norwoodj commented on #28
This has been released in [v0.11.0](https://github.com/norwoodj/helm-docs/releases/tag/v0.11.0)

[2020-03-30 01:42] norwoodj commented on #24
This has been released in [v0.11.0](https://github.com/norwoodj/helm-docs/releases/tag/v0.11.0)

[2020-03-30 06:15] sc250024 commented on #24
A scholar and a gentleman you are! Thank you sir!

[2020-03-30 06:35] raphstrebel commented on #28
Great! thank you! :smile:

[2020-04-03 08:18] eddycharly opened #35 "Docker image"
Would you be ok to release docker images ?
`goreleaser` supports [building and pushing docker images](https://goreleaser.com/docker/).

It would be useful to integrate in a CI pipeline, to ensure the doc is up to date.

Thanks.

[2020-04-03 13:45] wanderleyteixeira opened #37 "Unable to generate README with Values injection into template files"
We have `values.yaml` template and additional `values-<env>.yaml` per environment.
To install the chart, a YAML file that specifies the new values and overwrite the above default parameters are provided per environment:

`helm install --name someapp -f values=values-qa.yaml stable/someapp`

In this case, `values-qa.yaml` contains values that overwrite default `values.yaml`. When we run `helm-docs`

[2020-04-03 14:27] eddycharly commented on #37
I don't think there is an option to create doc for files other than `values.yaml`.

All the configuration should exist in `values.yaml` anyway, and the generated doc should be complete.

The `values-qa.yaml` should only be there to provide the values corresponding to the specific `qa` environment, and therefore it out of the scope of the helm chart docs i think.

[2020-04-03 15:00] wanderleyteixeira commented on #37
@eddycharly That definitely makes more sense. Thanks.

[2020-04-03 15:00] #37 closed

[2020-04-08 01:57] norwoodj commented on #35
Hey @eddycharly , sorry for the slow merge. Thanks for the contribution. Image is now available at https://hub.docker.com/r/jnorwood/helm-docs

[2020-04-08 01:57] #35 closed

[2020-04-08 06:33] eddycharly commented on #35
Beautiful, thanks a lot 👍

[2020-04-16 09:54] nvtkaszpir commented on #30
you could just expand default README.md.gotmpl with markdown linter tags to ignore certain rules for specific code section - for example line length for values section.

For example:

[code]

[2020-05-04 13:20] ccremer opened #39 "Make it possible to document objects and arrays that are empty by default"
Let's consider this snippet:
[code]
Here, the `backupPlans[]` is empty, as there isn't a sensible default possible because it's dependent on the user's setup. If they don't like it, it's impossible to disable this with Helm's merging behaviour unless the users provide their own list. Hence the empty array.

However, it would still be cool to have the objects in the array documented in the README,

[2020-05-15 08:57] Artus-LHIND commented on #30
I refactored a little bit and applied 2 regex'es eliminating trailing spaces, multiple empty lines (3+) and some more restyling for better compatibility with MarkDownLint.

[2020-05-22 17:01] norwoodj commented on #30
I think you've fixed most things, @Artus-LHIND. Thanks for the contribution, I'll close this for now. Reopen if there are still issues.

[2020-05-22 17:01] #30 closed

[2020-06-10 13:08] robertgates55 opened #44 "Table is outputted alphabetically rather than as-per values.yaml"
I wondered if I'm missing anything - I was hoping to have my values table outputted in the same order that the yaml is laid out. Is that possible?

[2020-06-18 23:27] angelokurtis opened #45 "Template for chart's release name"
I would like to use only one template for my charts with installation instructions like this:
`$ helm install my-release stable/{{ template "chart.name" . }}`

[2020-07-22 15:28] sc250024 opened #48 "Templates not defined error with complicated README"
# Description

The title of the issue is admittedly a bit weird, but I'm not sure what else is going on with the underlying `README.md.gotmpl` file I am using.

Long story short, I am helping to move the [cluster-autoscaler](https://hub.helm.sh/charts/stable/cluster-autoscaler) Helm chart from the [helm/charts](https://github.com/helm/charts) repository to the [kubernetes/autoscaler](https://githu

[2020-07-30 16:17] HelderGualberto commented on #48
This kind of templates just work with the master branch version.
Try to clone the git repo and build it from master branch. It worked for me.

For MacOS
export CGO_ENABLED=0 GOOS=darwin GOARCH=amd64

[2020-07-30 17:28] sc250024 commented on #48
Oh really? This hasn't been released yet then?

[2020-08-06 21:14] #45 closed

[2020-08-06 21:17] norwoodj commented on #48
No reason, no. Sorry, I've been dealing with carpal tunnel issues the last few months, and have had to completely ignore this repository. I will be better going forward.

[2020-08-06 21:18] #48 closed

[2020-08-06 21:19] norwoodj commented on #44
Hey @robertgates55, sorry for the slow response, due to carpal tunnel issues I've been having the last few months, I've had to ignore this repository for the most part. As implemented, there's no way of knowing the order that the original yaml file had its keys laid out in. Alphabetical ordering was the best I could do. Sorry!

[2020-08-06 21:19] #44 closed

[2020-08-06 21:54] sc250024 commented on #48
@norwoodj Do you need help with the repo? I'm a pretty avid user, and can start picking up some issues.

[2020-08-11 08:18] rajurh opened #51 "Does it support for windows operating system"
Documention doesn't show anything related to Windows OS. Is it supported on windows os or with subsystem on Linux?

[2020-08-11 08:21] eddycharly commented on #51
Hi @rajurh , you should be able to `GO111MODULE=on go get github.com/norwoodj/helm-docs/cmd/helm-docs` on windows if you have `golang` installed.

Another option would be to run it in docker `docker run --rm -v "$(pwd):/helm-docs" jnorwood/helm-docs:latest`.

[2020-08-11 11:27] sc250024 commented on #51
The GoReleaser file (https://github.com/norwoodj/helm-docs/blob/master/.goreleaser.yml) can be configured to create Windows `exe` files.

[2020-08-12 14:21] max-rocket-internet opened #52 "A github action to ensure chart READMEs are up to date"
It would be awesome to have a Github Action that will ensure people update chart READMEs on every PR 😃

[2020-09-07 03:35] DirtyCajunRice opened #53 "Feature request: Multiple gotmpl files"
Just like templating of a group of charts can be done with one template, so can multiple groups of charts with _similar_ templates. I would like to be able to either:
A. Be able to specify multiple template files and have them rendered in order or preferably
B. Be able to define templates at a global level that i can import in addition to the ones specified by the tool.
Thanks for helm-docs!

[2020-09-13 19:39] DirtyCajunRice opened #55 "Repository Maintenance/Cleanup"
Het @norwoodj. I saw you were having some personal issues via [this comment](https://github.com/norwoodj/helm-docs/pull/47#issuecomment-674906974) and hope all is well. I would be more than happy to help maintain this repo and help clean up some of the legacy code/ci that exists (e.g. old cobra design and deprecated goreleaser config). I plan to use helm-docs for the ever growing [k8s@home charts

[2020-09-17 02:17] t83714 opened #56 "Generated badge URL should escape dash `-` to make Pre-release version string like 1.0.1-rc.1 work"
# Generated badge URL should escape dash `-` to make version string like 1.0.1-rc.1 work
For helm chart with Pre-release versions (e.g. 1.0.1-rc.1 or 1.0.1-alpha.0), helm-docs will generate badge markdown like:
[code]
which will render as (because `shields.io` use dash "-" as separators in URL):
![image](https://user-images.githubusercontent.com/674387/93411766-3b080c00-f8df-11ea-8023-ee4644594776

[2020-09-26 14:50] norwoodj commented on #55
Hey @DirtyCajunRice, I really appreciate the offer. There's tons of tech debt in this repo that needs cleaning up yes. The thing you can do to help most would be to review and submit pull requests. I simply don't have the time or capacity to keep up with all the issues that come in.

Please do start with a fork. I Will try to be better about getting to pull requests more quickly too

[2020-09-26 15:02] norwoodj commented on #52
Hey @max-rocket-internet would love to do this when I get time. Feel free to submit a PR

[2020-09-26 15:03] norwoodj commented on #51
Hey @rajurh looks like this is doable. Will try to make this happen if I ever get the time

[2020-09-26 15:05] norwoodj commented on #39
Hey @ccremer, sorry I've been so long in responding. For caps reasons I have little time to work on this project. This is.... A very complicated feature that I think is a very good idea but that I don't have time to build right now

[2020-10-02 11:39] sparqueur opened #58 "[Feature request] Automatic field name"
Hi,

Your README generator is really great ! :+1:
However we still have to "adapt" our `value.yaml` file to provide the **field path** which is "intrusive" and "error prone".
[code]

There is this alternative project which automatically determine the **field path** : https://github.com/kubepack/chart-doc-gen
[code]

Do you think you could be able to provide the same automatic behavior ?

Thanks in

[2020-10-02 15:15] norwoodj commented on #58
Hey @sparqueur, this is something I've wanted to do for a while. I'd love to get around to it someday, but it's hard to find the time.

[2020-10-02 22:15] #58 closed

[2020-10-03 14:11] norwoodj commented on #58
@sparqueur you know what, it wasn't actually that hard so I just went and did it. Upgrade to [v1.0.0](https://github.com/norwoodj/helm-docs/releases/tag/v1.0.0) and check out the updated documentation to try it out

[2020-10-03 21:44] #56 closed

[2020-10-03 23:35] #53 closed

[2020-10-04 02:29] t83714 commented on #56
🎉 Good job~

[2020-10-04 02:41] #55 closed

[2020-10-05 02:51] norwoodj commented on #55
I've closed this for now. Feel free to open more specific issues and I'll take a look at them

[2020-10-05 09:16] sparqueur commented on #58
Thanks a lot @norwoodj, gonna try this :-)

[2020-10-07 13:45] norwoodj commented on #39
Hey @ccremer I've thought a lot about this, and I think I probably won't add anything like this at this time. This is an incredibly complex feature that expands the scope of what this tool does substantially and I don't think it adds enough value to justify the code and documentation needed.

For now you can do:
[code]

Which would get rendered into the default column of the backupPlans field.

Th

[2020-10-07 13:45] #39 closed

[2020-10-08 08:26] ccremer commented on #39
That's ok

However I just had a new implementation idea. What if the complex example is actually a different file, completely uncommented with valid YAML structure?

Let's say we have this:
[code]
and this file
[code]
That should keep the values.yaml free from this implementation, but maybe it's possible to load an additional yaml structure?

[2020-10-20 00:47] chgl opened #67 "Avoid the need to prefix value documentation with '---'"
v1 made it unnecessary to specify the entire value path to generate the documentation, which is great! It would be even more convenient if the '---' were no longer required either. Ie:

[code]

Becomes:

[code]

This helps keep the values files more readable/easier to add documentation.

[2020-10-20 21:39] #51 closed

[2020-10-20 21:52] norwoodj commented on #67
Hey @chgl I agonized over this when working on v1. My thinking in requiring the prefix was that it reflected the intent of the chart author that this comment should be parsed by helm-docs. I was concerned that if I went with this proposed solution users would be surprised occasionally by comments they intended not be parsed as descriptions making their way into a README, e.g.

[code]

In this case

[2020-10-20 21:53] norwoodj commented on #67
/polls "Require a -- prefix in description comments" "Use any comment on the line before a value as the description"

[2020-10-20 22:17] ccremer commented on #67
Since #39 did not make it, I have use cases where I would document an example in values.yaml without having it parsed, especially in cases where empty arrays or objects are "documented" by comments to illustrate an example. Otherwise it would be interpreted as default value, which is wrong.

Having to duplicate each key with `# key.subkey --` syntax was annoying indeed. But I'd regard the new `# -

[2020-10-21 08:46] rajurh opened #68 "Markdown rendering issue"
As per the documentation, it says below we should be able to generate readme with description from the below example

[code]

When I generate using docker image ```docker run --rm --volume "$(pwd):/helm-docs" -u $(id -u) jnorwood/helm-docs:latest --dry-run```

ReadME generated but the description is not populated as described in the documentation
![image](https://user-images.githubusercontent.com/

[2020-10-21 12:19] ccremer commented on #67
@norwoodj
What would you suggest to use as an alternative for adding comments that should _not_ get parsed if you remove the prefix requirement?

[2020-10-21 12:36] chgl commented on #67
@ccremer my 2 cents: ignore any comment followed by a blank line. Ignore any comment starting with `@ignore` (or `@docignore` maybe)

[2020-10-21 14:28] norwoodj commented on #68
I believe you have an old version of the image cached locally:
[code]

You should see a footer with the version of helm-docs that was used to generate the markdown, assuming you have helm-docs >= v1.2.0

I'd recommend you try either:
[code]

[2020-10-21 14:59] ccremer commented on #67
@chgl Please no confusing/hidden features with blank lines :smiley: I have already a hard time controlling whitespaces and newlines in Go templates and Jinja2

So basically this proposal is about reversing the comment behaviour: Normal comments get parsed, and special comments have another effect. In that case I'd rather have shorter notation for ignoring comments like `## some-comment`. Otherwise

[2020-10-21 20:47] rajurh commented on #68
I was trying with the latest and just to reconfirm I cleared cached images and with v1.4.0 issue still exists
![image](https://user-images.githubusercontent.com/15551296/96785054-be6ecd00-144a-11eb-9b1c-d4b3aa1b221f.png)

[2020-10-21 21:42] chgl commented on #67
@ccremer

I feel like in this case it would be far more confusing if an expression like

[code]

would result in `Use these values to configure your deployment` documenting the `some` key.

Similar to `# Example`, maybe `# @ignore` could ignore the entire comment block?

[2020-10-22 03:31] norwoodj commented on #68
Hmmm strange. Would you mind creating a zip or tar archive of the chart that you're running this on? It would help me debug if I have all your files exactly as you have them.

[2020-10-22 06:21] rajurh commented on #68
I have created sample one with a value file mentioning comments
[test.zip](https://github.com/norwoodj/helm-docs/files/5420507/test.zip)

Sample output
![image](https://user-images.githubusercontent.com/15551296/96832716-b12dfe80-149b-11eb-878d-110cb2172b3e.png)

[2020-10-22 07:49] ccremer commented on #67
Well, extending on your example, how would we handle these cases:
[code]
I'm actually not sure if some of these cases are already handled regardless of a prefix. @norwoodj might give hints.

I dunno. With a prefix it makes it explicit and crystal clear whether a value is present in the README. Without a prefix, you'd have to know which style of comments have no effect in certain cases. I'd rather

[2020-10-23 04:15] norwoodj commented on #67
Whoa there. To answer some of your questions, documenting an array item as you did does work, the key here would be `some.thing[0]`. Prefix or not, my hands are tied to some extent by the [go yaml.v3 library](https://godoc.org/gopkg.in/yaml.v3), so for some of these examples I'm honestly not sure if they'll be picked up. Basically if you do same indentation on the previous line it's always picked

[2020-11-09 10:09] DivyaSundar-89 commented on #3
Hello,

Firstly, this is a great tool. Wanted to understand a couple of things if they are supported.

1. We have a requirement of helm of helms where we have multiple charts as dependencies in a single chart. Can I use this tool to generate single README file with values from all the dependent charts ?
2. Is it possible to run this tool against a tar.gz file or is it necessary to explode the char

[2020-11-13 09:50] DivyaSundar-89 opened #70 "Recursive documentation in one README file"
Dear maintainers,

Firstly, this is a great tool for producing the documentation. In my case, i have a helm chart with lot of dependencies packed in a tar.gz file. Is it possible to generate one README file with the values from all the dependent charts instead of the README recursively generated in all the sub-chart directories.

[2020-11-15 04:14] aeciopires commented on #70
I agree with @DivyaSundar-89. The tool is excellent and has helped me a lot to document the charts I use at work and other open source projects. I met the tool a few months ago working with @matheusfm

I think that in addition to the recursive values it would be very good if it were possible to recursively obtain all other information from the charts.

In this way, it would be possible to create a

[2020-11-19 04:21] mjpitz opened #71 "Can I explicitly ignore a field?"
There are a few fields I don't want to show up in my README. Is there a way to explicitly ignore or exclude a field?

[2020-11-19 08:11] sc250024 opened #72 "Multi-line YAML using the <pre> tag for better readability"
Greetings,

I'm opening this issue for feedback to see what people think; maybe it's been opened before. Basically, I would like multi-line YAML blocks to be formatted using `<pre>` tags in Markdown rather than the current behavior, which is a single line block using backtick characters.

If I have a multi-line YAML block in `values.yaml` file like so:

[code]

This will be rendered as follows in

[2020-11-21 02:28] norwoodj commented on #70
I think this is a reasonable ask. I assume what you mean is that the root chart has a bunch of sub-charts specified in `requirements.yaml` (or `Chart.yaml` if helm v2). I can envision a new flag `--document-requirement-charts` or similar that documents these dependended-upon charts in the root chart README.

I don't have time to do this work at present, but feel free to submit a PR. Otherwise, I'l

[2020-11-21 02:31] norwoodj commented on #68
Apologies that I haven't had time to look at this. I haven't been able to reproduce this issue with my own charts, but I still need to look at the zip archive you've sent me. Sorry for the delay, I promise I'll look soon

[2020-11-21 02:32] norwoodj commented on #71
There is not at present, but I think this is a reasonable ask. I can envision a flag (that can be repeated) like `--skip-values deployment.replicas` or similar. I can implement this when I get more time, (I'm very busy with my real job at present). Please feel free to submit a PR though.

[2020-11-21 02:35] norwoodj commented on #72
Ooh, this is nifty. I think I could get into this. I'd have to see what it looked like in practice if run against, say, the example-charts in this repo. I think this is a good idea though. I don't have time to work on this at the moment, but feel free to submit a PR. Otherwise, I'll get to it as soon as I can.

[2020-11-21 04:56] mjpitz commented on #71
No worries! I'll try and pull something together when I have a minute. Just wanted to make sure I wasn't missing something.

[2020-12-02 10:10] DivyaSundar-89 commented on #70
Yes, since we have multiple sub-charts as dependencies, the dependent charts values can be documented in the root chart README to maintain a single README file.

[2020-12-08 07:52] zeysh opened #73 "Columns re-order"
Hello,

Question:
I wonder whether there is a way to change the order in the columns or not ?
I would like to switch `description` and `default value` columns.

Many thanks

[2020-12-10 04:52] Pothulapati commented on #71
👍 on this feature request! Would be useful for my use-case too!

[2020-12-17 22:26] estahn opened #74 "Value Schema Generation"
It would be great if `helm-docs` can also generate the `values.schema.json`. While one could argue `helm-docs` should only generate the Markdown I feel it's perfectly equipped to generate JSON schema especially with the description field.

I'm using https://github.com/karuppiah7890/helm-schema-gen atm but looking at the code it basically doesn't do anything really (see [here](https://github.com/ka

[2021-01-04 17:23] ccremer commented on #72
As an alternative, since the target format is markdown, it could als be enclosed with triple backticks and the "file" format:
<pre>
[code]
</pre>
With any chance, renderers like GitHub would also highlight the YAML formatting, not just unformatted in a `<pre>`-block. Not sure if this looks nice in tables though?

[2021-01-07 16:05] sagikazarmark commented on #67
At first I also disliked the syntax, but after using it for a couple hours (and reading this issue) I think it's much cleaner than any of the suggested alternatives: it's explicit, no hidden features.

The syntax could potentially be changed to something like `#:` or `#@`: it's shorter and less intrusive.

Alternatively, I could imagine a configuration that inverts the comment checking behavior: i

[2021-01-07 17:06] sagikazarmark opened #77 "Template lookup should not fail if a template is not found"
Currently if a template is not found the template lookup:
- stops looking up further templates
- returns the default template

This is somewhat counterintuitive to me, because helm-docs can be used to generate README files for multiple charts. Having custom per-chart overrides sounds like a perfectly valid use-case.

My suggestion is:

- if a template cannot be found continue template lookups (log

[2021-01-07 17:32] chgl commented on #67
From a cursory glance at the source code, maybe it's sufficient to make the comment regex in https://github.com/norwoodj/helm-docs/blob/master/pkg/document/values.go#L33 configurable to allow arbitrary comment prefixes?

[2021-01-12 21:57] norwoodj commented on #77
I think this makes a lot of sense. I'd be happy to review and merge a PR if you provided one. I unfortunately don't have time to do much work on this repository myself at the moment.

[2021-01-12 21:59] norwoodj commented on #73
I don't think that this should be configurable, however, I think that the ordering of columns that you propose is a better one. I will change it.

[2021-01-12 22:15] norwoodj commented on #74
@estahn until today, I had never heard of this functionality for helm. It's cool!

My feeling here is that this doesn't belong in helm-docs. This tool is designed to generate markdown documentation for helm charts, full stop. Adding this in feels like bolting on a mostly orthogonal use case just to reuse the parsing logic included herein.

I really appreciate the interest in the tool, but I am try

[2021-01-12 22:15] #74 closed

[2021-01-12 22:20] norwoodj commented on #72
@ccremer ooh I bet that would look real cool if it would syntax highlight. I think regardless of whether we switch to rendering default vaules as yaml or not, we should format the block like you suggest.

I think it'd be especially nice for this issue if this were configurable, that is if there were a new flag `--default-value-renderer` that accepted either `json` or `yaml`. I would love to see th

[2021-01-12 22:22] norwoodj commented on #67
@chgl I think this is the best answer. I would accept a PR that did as you describe. I unfortunately don't have time to do the work myself at present.

[2021-01-12 22:43] chgl commented on #67
@norwoodj  I'll give it a try!

[2021-01-12 22:58] norwoodj commented on #68
@rajurh I'm again really sorry how long it has taken me to look at this. The bug, as it turns out is within the yaml parsing library the tool uses. The values.yaml file you have provided me obviously came from a windows machine, as it uses `\r\n` for line endings.

For whatever reason the underlying yaml library has trouble with such line endings. I have fixed the issue finally and will release v1

[2021-01-12 22:58] #68 closed

[2021-01-13 00:28] sagikazarmark opened #78 "Optional custom template (rendering) per chart"
## Use case

When maintaining multiple charts in a single repository, it's inevitable that some charts require custom README templates.

Currently, this is possible using the `--template-files` option: if a template is not found, a builtin default template is loaded.

This works flawlessly, until you want to pair it with an other use case: define a custom, common template for all the other charts.

[2021-01-14 08:45] alexrashed commented on #74
I do agree that the purpose of this tool is to generate the README, but it might be interesting to consider information in a `values.schema.json` (since JSON Schema has descriptions, required fields, defaults) and use it to generate the README.

- One could use helm-schema-gen to generate a pretty basic `values.schema.json`.
- This `values.schema.json` could then be enriched manually with meaningf

[2021-01-14 13:16] Anticom opened #82 "Support library charts"
Following [this guide](https://helm.sh/docs/topics/library_charts/) for library charts there is no value file and no templates that produce yaml directly but only helpers.
It would be nice if `helm-docs` wasn't skipping the README generation upon missing values file but still render everything from the Chart.yaml meta-data so we get this part documented automatically.

This could either be impleme

[2021-01-20 17:36] paullaffitte opened #84 "Default annotation is not used when value is null"
[code]

Will output: ``| field | string | `nil` | Field description |``

Whereas
[code]
Outputs: `| field | string | Default value description | Field description |`

[2021-01-29 23:21] sagikazarmark commented on #78
@norwoodj what do you think?

[2021-02-02 13:49] lucernae opened #86 "Proposal to add custom notation type"
Hi @norwoodj .

First, I would like to say thanks for this great piece of tool. I can imagine I will use it a lot.

I would like to propose some feature addition that rises from the needs of maintaining my own helm charts.

# Background

I managed helm chart recipe where some of the services are needed as dependencies to other charts.
Some chart bootstrap other charts from one single `values.yaml`

[2021-02-02 13:56] lucernae commented on #86
My draft PR regarding this: #87
Can you please share your opinion on this?

[2021-02-06 21:00] nicholaswilde opened #88 "Rename Requirements to Dependencies"
I would be nice to have the nomenclature of the requirements/dependencies match helm to avoid confusion. [Helm documents](https://helm.sh/docs/helm/helm_dependency/#helm) them as dependencies whereas [helm-docs](https://github.com/norwoodj/helm-docs#markdown-rendering) state them as requirements.

[2021-02-10 15:30] #77 closed

[2021-02-10 15:35] norwoodj commented on #78
I think I like #3, the `docs.yaml` approach best. This way we could retain old behavior when this file is not found, and read from that file when it is.

[2021-03-02 02:50] rajurh commented on #68
Thanks, @norwoodj  issue is fixed

[2021-03-02 15:02] jeroenjacobs79 opened #89 "[Enhancement] Allow us to set target file and directory"
It seems impossible at the moment to customize the directory of the generated readme.

I have my helm chart in a sub-folder, and as a result, the README is always generated in that subfolder.

e.g:

my helm chart is located in the `./helm` subfolder. My config looks like this:

[code]

I want to keep my `helm` directory clean, so I already managed to keep the template out of the helm folder by usi

[2021-03-19 17:52] danrspencer opened #90 "[Enhancement] Also use `values.schema.json`"
It's possible to provide a [schema for a Helm chart](https://helm.sh/docs/topics/charts/#schema-files) via `values.schema.json`.

The schema specifies the structure of the chart along with types and descriptions of variables.

The type field would help with properties such as lists of objects, which the documentation generation currently doesn't have a good method of rendering.

The description fi

[2021-03-23 17:03] HaveFun83 opened #91 "pre-commit hook template in subdir not working"
Hi

thanks a lot for this great project.

i have a strange issue with a custom gotemplate within a subdir.
When i run helm-doc cli manually i got the exspected result:

[code]
but when i run exactly the same via pre-commit hook the template within the subdir was not found
[code]

when i move the `_templates.gotpl` under the chart root everything is working as expected.

[2021-03-25 13:29] Wing924 opened #92 "The description is missing if some unrelated comment exists before the value description."
# input values.yaml:

[code]

# expect output:

## Values

| Key | Type | Default | Description |
|-----|------|---------|-------------|
| key1 | object | `{}` | key1 |
| key2 | object | `{}` | key2 |

# actual output:

## Values

| Key | Type | Default | Description |
|-----|------|---------|-------------|
| key1 | object | `{}` | key1 |
| key2 | object | `{}` |  |

[2021-04-22 03:07] estahn commented on #90
A JSON Schema should make it simpler to provide accurate documentation possibly removing the need for the custom syntax in the values file.

Maybe this can be an inspiration: https://github.com/adobe/jsonschema2md

[2021-04-26 12:34] mkosterin opened #94 "helm-docs and darwin/arm64 m1-cpu"
Hello,
Could you please inform me about plans with native support apple m1 cpu?

[2021-04-26 12:38] sc250024 commented on #94
This comes down to the `goreleaser` project. It was added here: https://github.com/goreleaser/goreleaser/pull/1956.

I'll submit a PR.

[2021-04-26 20:12] norwoodj commented on #92
Oh... yeah this is a bug.

[2021-04-26 20:15] norwoodj commented on #91
Aha, I was worried about this, the [example .pre-commit-config.yaml file in this repo](https://github.com/norwoodj/helm-docs/blob/master/.pre-commit-config.yaml) sets some special flags in order to work in _this_ repo. You should remove all of:
[code]

from your file

[2021-04-26 20:17] norwoodj commented on #91
Can you send me the contents of your `.pre-commit-config.yaml` file? I suspect this is not a bug, but something misconfigured in your file (I hope).

[2021-04-26 20:21] norwoodj commented on #90
Hey @danrspencer I think this is a very good idea. I've never written a `values.schema.json` file before. This is a new helm feature to me, in fact. So I hadn't thought to build this, but I appreciate the clear description of the feature, especially how conflicts and backwards-compatibility are handled.

I would merge this if implemented as you described. I do not have the time to do it myself at

[2021-04-26 20:24] norwoodj commented on #89
The thing about it is that the tool supports potentially many helm charts within a repository. As such, it doesn't make sense to generate the README anywhere but in the root of each chart.

In this case, if there's just one chart under helm, why not make that the repository root? If there are other things in this repository, do you really want the repository README to be the auto-generated chart d

[2021-04-26 20:25] norwoodj commented on #88
Agreed, I'll merge a PR, or get to this myself... someday soon

[2021-04-26 20:28] danrspencer commented on #90
I’m happy to have a go when I can find some time. I’ve never written Go but if you’re willing to field a few questions from me if I get stuck I’ll see what I can do.

[2021-04-26 23:54] estahn commented on #90
I wonder how you would display `#/definitions/...` in Markdown. Would you still just generate the table or something more elaborate?

We do something like this:
[code]

Just wonder how that would be represented in Markdown in your mind.

[2021-04-27 06:11] danrspencer commented on #90
I think definitions should just be treated as an internal implementation detail of the schema, so they’d be included before being rendered.

[2021-04-27 11:56] kaworu opened #96 "The description includes description of previous commented values"
Might be related to https://github.com/norwoodj/helm-docs/issues/92
## values.yaml
[code]
## expected output
| Key | Type | Default | Description |
|-----|------|---------|-------------|
| after | string | `nil` | after desc |
| before | string | `nil` | before desc |
## actual output
| Key | Type | Default | Description |
|-----|------|---------|-------------|
| after | string | `nil` | commented

[2021-04-27 14:53] HaveFun83 commented on #91
Sure:
[code]

[2021-04-29 14:21] cmoulliard opened #97 "Question: Generate the table of the values with sub-sections ?"
## Question

Is it possible to generate the table of the values as a collection of tables if we define within the `values.yaml` file the different `sections`

### How it works now

Here is what it is generated by default

[code]
from the following definition
[code]

### What I propose

Generate a `section` level for a yaml  `root` element
[code]

using the following convention:

include a comment

[2021-05-01 07:42] ogugu9 opened #98 "Allow for documentation of subfield in default empty object {}"
Can I generate documentation of subfields in object property whose default value is empty `{}` ?

[code]

In the example above, generated result was below:

| Key | Type | Default | Description |
|-----|------|---------|-------------|
| worker.deployment | object | `{}` |  |

However, we wanna generate the documentation below:

| Key | Type | Default | Description |
|-----|------|---------|-------

[2021-05-03 06:51] dennisvandehoef commented on #84
The bug seems to be already resolved: https://github.com/norwoodj/helm-docs/commit/a77f2e1ef9e6bae81c85526f07f59fb59b651bb8

Though in the latest docker image (containing the above-mentioned commit) this still happens.

[code]

and

[code]

both generate:
[code]

[2021-05-18 01:20] #67 closed

[2021-05-18 02:03] #92 closed

[2021-05-18 02:05] norwoodj commented on #96
This is unfortunately a consequence of how the go yaml library works. It treats everything from the first comment as the HeadComment of `after`. I'm sorry but there's not much I can do here, it's just a quirk of the go yaml library. I suggest you submit an issue against them to break comments on whitespace so the first comment block is parsed independently of the second one.

[2021-05-18 02:05] #96 closed

[2021-05-20 15:51] bmcustodio commented on #96
I may be definitely missing something, but shouldn't adding something like this

[code]

to https://github.com/norwoodj/helm-docs/blob/master/pkg/helm/comment.go#L7 be safe and enough? I made a quick and dirty test and it seemed to work well:

[code]

[2021-05-22 10:32] sc250024 commented on #94
@mkosterin I think this can be closed now since the PR was merged. Probably @norwoodj will create a release fairly soon, and then the multi-arch binaries / Docker images will be available.

[2021-05-23 23:14] morremeyer opened #100 "pre-commit hook in GitHub Action"
Hey and thanks for this tool, it makes my life easier :)

I was wondering how I can use the pre-commit hook with a GitHub action? If I use the official GitHub action for pre-commit and install `helm-docs` like this, it fails with `Please install helm-docs to run the pre-commit hook! https://github.com/norwoodj/helm-docs#installation`:

[code]

Is this due to the pre-commit action being run in its

[2021-06-14 08:35] herrLierb commented on #98
The same would be very useful for lists of objects that is empty by default:
[code]

[2021-06-18 08:01] macobo commented on #100
Here's how my github action looks like:

[code]

[2021-06-18 16:44] davidkarlsen opened #101 "Merge into existing README.md"
Thanks for this great tool!
It would be awesome if it could merge it's content into an existing README w/o overwriting the contents - a bit similar to how [terraform-docs](https://github.com/terraform-docs/terraform-docs) works - by placing a placeholder in the original README:
[code]

it replaces the block with its generated contents.

[2021-07-15 04:11] norwoodj commented on #101
I have extensively used terraform-docs, and I like their idea here, but I decided to implement documentation generation using [gotemplates](https://pkg.go.dev/text/template). If you want to do what you describe, you can update your README to include a section:
[code]

then run:
[code]

[2021-07-30 19:53] kd7lxl opened #103 "panic when defining a type with empty description"
When specifying a type but leaving description empty, like this:
[code]
helm-docs panics:
[code]

[2021-08-02 11:08] K1Hyve commented on #71
Would be good if this was implemented the same way as Bitnami's readme-generator-for-helm that you can specify fields to skip in the `values.yaml` itself.
https://github.com/bitnami-labs/readme-generator-for-helm#metadata

This would scale better when generating docs for multiple charts compared to using `--skip-values` flag.

[2021-08-17 18:00] cabrinha commented on #52
It'd be nice if this were a published GitHub Action that we could use via the Marketplace.

[2021-08-20 17:37] sheisnicola opened #107 "[Enhancement] Replicate Helm functionality allowing access to .Files"
For complex Helm charts where additional resource files and manifest templates are split into multiple files and directories, it can be useful to allow programatic enumeration of the files within the chart to help generate documentation.

For example I have a large chart that splits up many micro-service components into `./templates/components/COMPONENT.yaml`.

This is useful for splitting discret

[2021-08-20 18:00] sheisnicola commented on #71
@K1Hyve @Pothulapati @mjpitz I needed something similar to this as well, but was able to implement it by generating the table myself in a custom template (I provide an example in an unrelated enhancement request I just raised here https://github.com/norwoodj/helm-docs/issues/107).

[2021-08-25 16:47] mcbenjemaa opened #108 "Error generating gotemplates for chart /helm: template: /helm:190: function "toYaml" not defined"
I'm generating my README from `README.md.gotmpl`

I'm setting this inside the `README.md.gotmpl`

[code]

but, it's complaining with the following error

[code]

[2021-09-06 14:04] #103 closed

[2021-09-07 09:50] bdronneau opened #109 "[QUESTION] Clean tags"
Hello,

I'm using a tool for get the latest version of your tool but you have two old strange tags (semver compatible):
- https://github.com/norwoodj/helm-docs/releases/tag/19.0110
- https://github.com/norwoodj/helm-docs/releases/tag/19.0614

Do you think you can delete them since they does not follow you tag flow ?

Best

[2021-09-08 14:24] red8888 opened #110 "Is there some way to annotate values that I don't want in my default values.yaml?"
I suppose it is a best practice to have ALL possible values of your template have some default value set, but sometimes it is not possible.

For example take this value (which comes from the default template helm generates for you)

[code]

podSecurityContext is using toYaml but I also want to be able to notate examples of specific configs under it (like fsGroup for example).

Is there some way to

[2021-10-01 15:57] beaujos-jhancock opened #111 "Malformed comments result in hard to read error."
when I added a value with a comment (for description) I made a mistake.

[code]
Resulted in
[code]

This was very hard to sort out what I did wrong. This was very hard to debug

[2021-10-05 10:36] danrspencer commented on #110
I do this by supplying `null` for any values that I want in the `values.yaml` but there isn't a sensible default that can be provided. In conjunction with `values.schema.json` you can then force them to be supplied at install time.

[2021-10-20 15:47] skang0601 commented on #82
Closing in favor of #90, having some spare cycles to start working on support that work.

[2021-10-29 15:51] hrodrig opened #115 "bottle :unneeded is deprecated"
[code]

[2021-11-03 08:45] steinbrueckri commented on #115
Just for reference https://github.com/norwoodj/homebrew-tap/pull/2

[2021-11-04 12:07] sagikazarmark commented on #115
I think that's a good quick fix, but keep in mind that the formula is generated, so tagging a new release should also fix the problem (CI apparently always uses the latest goreleaser and it's already fixed there)

[2021-11-04 14:37] utkuozdemir commented on #115
Just bump goreleaser version to >=v0.183.0 and make a new release - it solves the problem. See the changelog: https://github.com/goreleaser/goreleaser/releases/tag/v0.183.0

[2021-11-04 14:39] sagikazarmark commented on #115
No need, CI already uses the latest.

[2021-11-05 19:04] red8888 commented on #110
I recently discovered helm 3 supports json schema ootb and it looks like there are a few tools that can generate markdown from json schema. So I think I might approach helm documentation generation via json schemas (using the "description" field) along with some tool that can generate markdown from json schema.

[2021-11-12 08:06] mac2000 opened #116 "Proposal: pretty pring json values"
Sample yml:

[code]

Gives an output:

| Key | Type | Default | Description |
|-----|------|---------|-------------|
| loki.enabled | bool | `true` |  |
| loki.persistence.enabled | bool | `true` |  |
| loki.persistence.node | string | `"kube-stage-system-0"` | node on which data will be stored, make sure to create `/mnt/kubernetes/loki` |
| loki.persistence.size | string | `"10Gi"` | size will be

[2021-11-29 05:32] sergeyshevch commented on #94
I've tested it on MBP 2020 on M1. All works correctly

[2021-11-29 17:37] spremel opened #117 "Release 1.6.0 is unavailable"
The release 1.6.0 associated to the tag v1.6.0 is unavailable.

This is likely due to the failed CI pipeline "goreleaser" : https://github.com/norwoodj/helm-docs/runs/3073182310?check_suite_focus=true

Would it be possible to add the release ?
Thank you

[2021-11-29 18:02] skang0601 commented on #117
@spremel Thanks for the issue! I'll take a look at this later today.

[2021-12-01 10:37] mcamenzind commented on #94
Nice, any plans to make a "published" release for Darwin arm64 such that it appears on [norwoodj/helm-docs/releases](https://github.com/norwoodj/helm-docs/releases/)?

[2021-12-01 19:33] DaspawnW commented on #98
Is there any plan for such a feature, I think it would be really really cool to have it

[2021-12-07 09:31] mcamenzind commented on #117
@norwoodj @skang0601
In the process of adding 1.6.0 to the Github releases page, could you also add the compile version for M1? Thank you!

[2021-12-10 03:26] walthhy opened #118 "can helm-docs handle `|` in comments properly?"
In my values.yaml, I have follow code and comments
[code]
and in README.md, helm-docs generated following code
[code]
'|' will be treated as table column separator which is not good. So "for multiple lines" are missing for md view

My workaround is to add '\\' before `|`. but it's tedious if we look at values.yaml comments, it seems to let user to input `\| ` after CaCert
[code]

[2021-12-10 06:46] stranljip commented on #117
Hi - is there an update on this? My hope is that the issue with Homebrew is gone after a release and my quick-and-dirty fix won't be needed norwoodj/homebrew-tap#2

[2021-12-11 13:08] mstrzele commented on #115
@sagikazarmark so... correct me if I'm wrong, but it's a matter of waiting for a new version of `helm-docs` to be released, isn't it? CI will use the latest version of `goreleaser` and will remove `bottle :unneeded` from formulae.

[2021-12-11 17:02] sagikazarmark commented on #115
Correct

[2021-12-20 15:58] dwerder commented on #117
Any news on that?

[2021-12-29 20:02] jullianow commented on #118
I have the same problem, but in this case when I set a default value `I` use the for better organization.

[2021-12-29 21:18] moosecanswim commented on #111
make sure there is a space between the hashtag and the dashes `# --`

[2022-01-04 15:39] NatarajanR opened #119 "how to generate doc for an helm chart having multiple values files"
how to generate doc for an helm chart having multiple values files? For example, refer https://github.com/temporalio/helm-charts chart. It would have a default values.yaml and then a directory called values, inside which several values files will be there.

[2022-01-08 10:06] sc250024 commented on #119
I'm not sure this is a use case that should be supported. While having multiple values files is useful to see what settings are useful in different scenarios, there's only ever one canonical file that the chart uses: the values.yaml file itself.

[2022-01-09 03:41] reitermarkus commented on #108
I'm getting a similar error:

Error generating gotemplates for chart /<chart>: template: /<chart>:120: function "fromYaml" not defined

[2022-01-09 07:07] sc250024 commented on #108
I had the same problem. This isn't a problem with `helm-docs` per we, but with the underlying Go template engine.

See here for a solution: https://stackoverflow.com/a/51326166/928203

[2022-01-17 18:21] stranljip commented on #117
Ping ... I am getting annoyed by the constant warning in my Homebrew output - could you please either release 1.6.0 with a subsequent update of the Homebrew formula or merge my quick-and-dirty-fix norwoodj/homebrew-tap#2? Seeing the lack of responses here I am thinking about forking it only for the sake of getting rid of that warning :-/ If you need help in (re-)releasing the version I would be wi

[2022-01-17 21:19] sc250024 commented on #117
I am also getting a bit concerned over the inactivity of the maintainers on this project. There are now multiple large projects depending on this tool (including [kubernetes/autoscaler](https://github.com/kubernetes/autoscaler/blob/master/charts/cluster-autoscaler/README.md.gotmpl) and [kubernetes/ingress-nginx](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/README.md.g

[2022-01-19 21:56] yermulnik commented on #115
Any plans on when this becomes a reality?
[code]

[2022-01-19 22:01] yermulnik commented on #115
Yay 🥳
![image](https://user-images.githubusercontent.com/1274789/150221152-8e3c12a5-0204-481f-a865-4ababa7bc0c1.png)

[2022-01-19 22:24] sagikazarmark commented on #117
1.7.0 has just been tagged.....but something really weird is going on: https://github.com/norwoodj/homebrew-tap/commit/6245567c719b53a58da439e67d1d4441dc8ab564

[2022-02-02 20:06] reitermarkus commented on #108
Thanks @sc250024 for the pointer, my problem was/is different, but also not caused by `helm-docs`. See https://github.com/k8s-at-home/charts/issues/1395.

[2022-02-03 21:55] james-pollard-leapyear commented on #117
I'm also seeing that `jnorwood/helm-docs:latest` is associated with v1.6 instead of v1.7

[2022-02-07 18:33] nschad opened #123 "make helm-docs not recursive by default"
Can we please not have helm-docs look for README's everywhere by default? I just experienced the downside of this....

Would be cool if we instead would have an option like `-r/--recursive` like a lot of the other unix tools.

[2022-02-14 11:39] mstrzele commented on #115
@hrodrig wanna close the issue?

[2022-02-15 11:24] morremeyer commented on #123
You can use a [`.helmdocsignore` file to ignore specific directories](https://github.com/norwoodj/helm-docs#ignoring-chart-directories).

If this is not sufficient, can you explain in more detail what the issue is?

[2022-02-15 11:34] nschad commented on #123
Sure. It's about the default behavior. If you were to accidently run `helm-docs` in your home directory instead of your chart-repo then it would by default crawl through every folder and looking everywhere for README.md's

I feel like, as stated above, recursive operations should/must be explicitly stated by i.e. means of an flag like `-r/--recursive`

[2022-02-15 12:06] danielefranceschi opened #124 "update alpine version in dockerfile"
Right now the base image is
[code]
This version is two years old and our security tools are complaining; `alpine:3.15.0` is available.

[2022-02-18 08:31] CrystalMethod opened #125 "[question] how to ignore templates in .gotmpl"
Is it possible to ignore (disable) certain templates to be evaluated?

While the first template taken from "example-charts/custom-template/README.md.gotmpl" is expected to be evaluated.

##### README.md.gotmpl
[code]

##### README.md
[code]
... the template taken from our "README.md.gotmpl" is expected to not be evaluated since it is a snippet to show how users can use that config value. The gener

[2022-02-24 15:58] LHozzan opened #126 "[Enhancement] Set custom delimiter, if value in line is too long"
Hello.

This project looks very good and if is possible, I would like to suggest this enhancement.

In my case, we have in helm chart defined custom parameters for Kafkas topic, something like this:

[code]

As you can see, when this is rendered by HelmDocs, as a result is very long line :(. All descriptions are hidden for only one long line and you must scroll to the right to see them.

Workaroun

[2022-03-03 08:10] HaripriyaRegula opened #127 "Inconsistent description"
Hi Team,

I see the expected description is missing for the comments quoted.
For the below input YAML content, the result is attached and highlighted.

![helm-docs-missing-description](https://user-images.githubusercontent.com/100826620/156523246-363f2e09-a770-4c9b-8a6c-162846c85a6a.png)

[code]

Please analyze and suggest us a way forward.

Thanks
Haripriya

[2022-03-04 09:33] jgkirschbaum commented on #126
I agree, this would be very helpful.

[2022-03-04 09:33] #127 closed

[2022-03-04 16:40] KevinM2k opened #128 "Latest docker version isn't up to date"
Hi,

Latest docker version is 1.6.0 but latest release here is 1.7.0 - means if we use pre commit checks in pipelines when using the latest docker image its flagging up a mismatch due to the version.

Can you upgrade the dockerfile to run from v1.7.0 but also any chance we can remove the version from the generated docs so this doesn't happen again? or at least give a flag that we can do that.

Tha

[2022-03-12 15:59] cornfeedhobo opened #129 "[Feature Request] Support pulling details directly from kubernetes specs"
I'm finding myself doing stuff like

[code]

This is a direct copy from the StatefulSet API docs, and I have a number of other fields that are the same.

I think it would be neat to have references that get resolved at generation time.

[2022-03-31 22:16] bilcus opened #131 "Cannot build with Go 1.18 on darwin/arm64"
Issue:

[code]

Resolution:
[code]

or upgrade your dependencies since that is where `golang.org/x/sys` is coming from (viper, logrus, etc..)

[2022-04-03 14:47] #131 closed

[2022-04-04 12:56] jdomag opened #133 "Feature Request: support for required/mandatory values"
Would be great to mark some fields mandatory/required as per values.schema.json specification. Generated doc table should contain corresponding column.

[2022-04-06 23:35] HighWatersDev commented on #101
Hi,
I'm trying to use .gotmpl file to merge the docs with the existing README but it's failing with the following error:

[code]

I also looked under `example-charts/custom-template` and have it set up the same way but still getting the same error. I'm using helm-docs v1.8.1

[2022-04-11 00:21] YevheniiPokhvalii commented on #123
Totally agree with [nschad](https://github.com/nschad). Sometimes, I forget how this command works and may run it in my home directory or somewhere else and it generates tonnes of README.md files in all my cloned repos and this is not good.

[2022-04-16 19:39] djhoese opened #135 "Avoid double newlines at end of file"
I'm trying to add the helm-docs pre-commit hook to my project, but it is conflicting with another hook which makes sure that files only end with a single newline. You can find that hook in https://github.com/pre-commit/pre-commit-hooks as "end-of-file-fixer". I've tried modifying this project and installing it from source, but I don't really know Go and know very little about Go templates so I hav

[2022-04-17 01:42] djhoese commented on #135
Small update. I found some `-` in the default template that helped get rid of the extra line, but also discovered the extra newline is for the `versionFooter`. However, the `version` that is passed in `main.go` doesn't exist (?) or isn't set in my version so the below line is never shown and thus the "extra" newline.

[code]

I generated the above by hardcoding the 1.0.0 in the `main.go` when it i

[2022-04-19 18:51] bdronneau commented on #109
Hello,

any opinion @norwoodj  ?

[2022-04-25 17:07] norwoodj commented on #124
Fixing

[2022-04-25 17:11] norwoodj commented on #135
Hey, if you can find a way to write a PR which fixes this behaviour, I'm happy to take a look at it, but this is a fairly niche issue and it's low on my priority list

[2022-04-25 17:12] norwoodj commented on #133
I think this is a good idea, there is no `values.schema.json` integration at this time and that'd be a nice thing to add. It's not something I have time to do right now, however

[2022-04-25 17:13] norwoodj commented on #129
I'm not sure what you mean by this exactly. Are you proposing this information gets pulled from the page you've linked?

[2022-04-25 17:15] norwoodj commented on #128
Fixed with subsequent releases. Sorry about that

[2022-04-25 17:15] djhoese commented on #135
@norwoodj I'm not super happy with where I had to put the `-` to get the newline removed. I think my bigger issue right now is that the `versionFooter` is empty (no version passed to that portion of the code). Any idea why the `version` being passed to the template.go code? I think it was `nil` when I was printing out the value in earlier debugging. If I could get the "Autogenerated from chart met

[2022-04-25 17:18] #125 closed

[2022-04-25 17:20] norwoodj commented on #126
I think this is a good idea. I'd be happy to look at a PR, but at present, I don't have time to do the work myself. Maybe what you're asking for is related to this PR: https://github.com/norwoodj/helm-docs/pull/106?

[2022-04-25 17:20] #117 closed

[2022-04-25 17:22] norwoodj commented on #119
Yeah, this is a pretty niche case and I don't think it should be supported by this tool

[2022-04-25 18:18] LHozzan commented on #126
Hi @norwoodj .
Thank you for notified me for this PR. From my perspective looks good for column `Key`. But in this issue I would like something similar for `Default` column. It is possible to do same thing for column `Default` too, please? Of course, it can be done in different PR ...
Thank you.

[2022-04-25 18:38] norwoodj commented on #118
Hmm, this is a bug. If you submit a PR, I'll merge it.

[2022-04-25 18:54] #110 closed

[2022-04-25 18:55] #115 closed

[2022-04-25 18:56] #84 closed

[2022-04-25 18:56] norwoodj commented on #98
At present, I don't have time to implement this, but I'd be happy to look at a PR of what this might look like.

[2022-04-25 18:57] norwoodj commented on #107
I think this is an interesting thought, I don't have time to implement it, however I'd be happy to look at a PR

[2022-04-25 19:48] mjnagel commented on #118
@norwoodj would you also conditionally support escaping `|` in the actual values? Example:
[code]

When this gets rendered by the markdown rendering for Gitlab it breaks the table, but I've noticed other markdown rendering will correctly print it because it is inside of a table cell. I have a fork that handles this but it is not conditional. If you think that's worth supporting I can try to get a

[2022-04-26 11:49] cornfeedhobo commented on #129
@norwoodj yeah, that's essentially what I'm suggesting - a way to say "copy the text from the official spec", which I would hope is available somewhere as markdown that is structured and can be parsed.

[2022-05-10 14:02] j-buczak commented on #71
PR for this: Add option for ignoring values #141

[2022-05-11 10:11] j-buczak commented on #97
I also would love this feature.

I would propose `@section` tag to divide all parts into separate sections.

Currently this tag is used by other feature (see example-charts/custom-value-notation-type/README.md) however I think it's misleading. This should be renamed to @raw. I already started working on it: [Rename @section to @raw #142](https://github.com/norwoodj/helm-docs/pull/142)

[2022-05-11 12:05] vzabawski opened #143 "Argument to checks if the documentation is up-to-date"
It would be nice to have an argument which allows running helm-docs for checking if README is up-to-date.
Such argument is very handy in CI workflows when you just need to check if the documentation is relevant, not to update it.

Here's how it might look like:

Running helm-docs in repo with up-to-date readme
[code]

Running helm-docs in repo with outdated readme
[code]

[2022-05-11 13:31] bluebrown commented on #97
Sections would be amazing. Preferable via tag to allow the user grouping themself like @j-buczak suggests. The suggestion from OP is not optimal imo espeicall stripping the prefix. In the perfect case you can copy base the mentioned values to a --set flag.

## BAD

[code]

cannot copy paste key as is, need to manually concatenate.

## GOOD

[code]

Cann copy `deployment.containerPort` as is. Good

[2022-05-11 15:35] j-buczak commented on #97
For now I added sections for each dependency. This is open for further enhancement for single values file sections (e.g. with `@section` tag).
PR: Add option to add dependency values as subsection #144

[2022-05-12 10:06] j-buczak commented on #97
I added bunch of PRs that are related to this, but not the final one, since currently I have no more time to finish this feature. If somebody wants to pick this up - I stashed my WIP here: https://github.com/j-buczak/helm-docs/tree/WIP_section_in_values

[2022-05-16 09:15] larinme opened #147 "Affect only updated charts"
Hello! Is it possible to generate README for affected charts only?

Problem: I am modifying one helm chart and the tools regenerate all readme files.

[2022-05-17 13:47] #109 closed

[2022-05-18 07:14] mkilchhofer opened #148 "[Bug?] v1.10 ignores double "##""
Hi @norwoodj

It seems that v1.10.0 introduces a kind of different behavior.
In the past we used something like this:

[code]

the new version now introduces this change:

[code]

So in the past lines with two `##` were ignored in the rendered README. Is this an intended change?

[2022-05-20 12:50] AsoTora opened #149 "Pre-commit hook doesnt work for values-*.yaml files"
# Issue
I use values-$ENV.yaml type file and noticed that pre-commit ignores them due to the `files: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$` setting in config.

# Expected behaviour
all values files are supported

[2022-05-30 20:54] nwithers-ecr opened #152 "Empty values.yaml throws warning and fails to generate readme"
I am running `helm docs v1.10.0` and my sub-chart with empty values.yaml is giving me problems. The file consists of nothing but a yaml doc header `---`
In the helm docs documentation is says for chart.valuesSection: `A section headed by the valuesHeader from above containing the valuesTable from above or "" if there are no values`. So given that fact I was expecting an empty string to be rendered

[2022-06-13 09:00] therealqxing opened #153 "How to skip display variables whoes comments start without double dash in README"
[code]

Say I have a values.yaml like this,
[code]
Run `helm-docs` and get README.md
| Key | Type | Default | Description |
|-----|------|---------|-------------|
| clusterName | string | default | cluster name |
| extraLabels | object | {} |  |
| pvReclaimPolicy | string | Retain |  |

I don't want to display variable `extraLabels` and `pvReclaimPolicy` in README.md, how to do that?

[2022-06-13 12:21] emanuele-leopardi opened #154 "{}"

[2022-06-14 07:31] #153 closed

[2022-06-17 10:02] colearendt opened #155 "[Feature Request] Add support for sprig functions like helm docs"
[sprig](https://github.com/Masterminds/sprig) ([docs here](https://masterminds.github.io/sprig/)) provides a library of template functions that are quite useful. `helm` incorporates these functions directly, which is part of what creates the [very thorough](https://helm.sh/docs/chart_template_guide/function_list/#string-functions) list of functions available in helm templating.

Adding these funct

[2022-06-17 10:13] colearendt opened #156 "[Feature Request] Enable filtering `valuesTable` to a subset of values"
In the [couchdb helm chart](https://github.com/apache/couchdb-helm/tree/main/couchdb#configuration), values are segregated into subsections that are relevant to one another.

This can be a very useful pattern to highlight values appropriate in particular contexts, and cuts down on the "overload" that can happen with a giant values table.

It would be nice to auto-generate these sub-sections, which

[2022-06-27 13:25] prashant-shahi opened #157 "invalid memory address or nil pointer error"
I am getting the _**nil pointer error**_ when I run `helm-docs`.
It was working couple of days back.

<details>
  <summary>Click to expand Error Log!</summary>

[code]
</details>

[2022-06-29 09:37] norwoodj commented on #157
Hey @prashant-shahi Could you add a zip of the chart you're running against that causes this bug? Happy to figure out what's going on.

[2022-07-07 16:19] Anticom commented on #71
I'd prefer configuring which values to skip via a special doc comment directive rather than a flag for helm-docs cli. My reasoning / use case is setting some values on sub chart's values. Since those are (hopefully) documented in the referenced chart, it would be superflous to have documentation for those overrides generated in my chart.

Alternatively the `--skip-values` flag either would have to

[2022-07-08 07:38] j-buczak commented on #71
@Anticom doc directive is already merged. It's documented here: https://github.com/norwoodj/helm-docs#ignoring-values

I don't know what are the plans for `--skip-values` flag. I can envision a case when it's useful, but I don't know what  are the plans for this.

@norwoodj As original question/feature request is resolved, I would close this issue.

[2022-07-08 07:48] Anticom commented on #71
Oh, I've totally missed that. Thanks for the heads-up! 🚀

[2022-07-12 16:08] mszostok commented on #148
The option to ignore the comments is quite useful. Our use-case is to have more  info about the format:
[code]

Hope that it will be added back 🤞

[2022-07-18 11:56] very-doge-wow opened #158 "How to use pre-formatted strings in description filed"
My helm chart has several features which can be invoked by setting specific parameters in the values.yaml. However those aren't simply switches but for example allow for templating of objects/strings. As an example, this is an excerpt of my default values.yaml, which shows how to use it:

[code]

How can I include the example shown in the comments inside the documentation created by helm-docs insi

[2022-07-22 11:13] emanuele-leopardi opened #160 "Pre-commit hooks ignores -s argument"
[code]
Given the above I was expecting helm-docs to keep the order in the table as the file itself, instead it still processes it as this argument hasn't been passed and sets all up alphanumerically

Another test I tried was the following
[code]
this again gets completely ignored

[2022-07-22 12:55] sc250024 commented on #160
I think this is related to how `pre-commit` / YAML in general handles command line arguments. Have you tried the following?

[code]

Putting the argument on a separate line might do the trick. Alternatively, you can use the long-arg format with an `=` sign like so:

[code]

[2022-07-27 22:28] cebidhem commented on #88
Hi @norwoodj ,

I'm using your project for our Helm charts documentation - thanks for that - and I was looking for a `good first issue` I could contribute with.
Please let me know in the PR if there's anything I should improve.

Cheers!

[2022-08-08 13:11] very-doge-wow commented on #158
Since the already existing tools for generating helm docs both do not possess the ability to maintain the pre-formatted example/default strings and there doesn't seem to be a lot of activity in these repositories, I've taken matters into my own hand and implemented yet another tool, which **does** preserve the formatting by default. Feel free to check it out:
https://github.com/very-doge-wow/stell

[2022-08-22 02:28] TheQueenIsDead commented on #52
Hola, I came across this recently while wondering if there was a GitHub action, I was hoping for much the same thing, that a step would fail if the docs were not up to date.

I came up with a solution quite like @max-rocket-internet 's solution, but it relies a little less on bash or files in a repository. For future punters like myself, feel free to make use of it if it helps!

## TLDR

[code]

#

[2022-08-23 09:18] max-rocket-internet commented on #52
Very nice @TheQueenIsDead! Thanks for sharing.

I like your clean approach but one of the main reasons I went with the script as it will print the diff to show clearly to the user what is expected/required to get the check to pass. We get a lot of PRs from random people and it can be hard for a new user to work out exactly what is required.

[2022-08-23 10:04] TheQueenIsDead commented on #52
That's a great reason to do so! I like the clear use of emojis to highlight success/failure too.
We've got a few repositories running off of a central pipeline and try stay away from files where possible, but I'm sure that script could be added to a runs: |​ action if anyone was adamant.

Diffs is a great tool, I'm happy to have stumbled across this Github issue, hope that everyone that might come

[2022-08-23 17:50] clayvan opened #162 "Option to not include the helm-docs version in README"
I have a use case where we have multiple helm charts in a given git repo. The READMEs are generated using helm-docs. When a new version of helm-docs comes out, and a contributor installs that version via `brew install`, all charts are then updated with the line:
[code]

Basically this can cause downstream problems with CI builds making certain assumptions about directories with files changed.

I'd

[2022-08-24 21:25] hlavki opened #163 "document-dependency-values does not work with OCI dependency"
Hi, I tried to run `helm-docs --document-dependency-values` for umbrella chart:

[code]
But result does not contain values from `spring-boot` dependency chart.

[2022-09-07 12:41] AlanMasciangelo opened #164 "Cannot include mustache/handlebar templates in example docs"
I was unable to find a way to "escape" code examples that contain mustache/handlebar templates that I may want to place in a README. Not surprisingly, it seems helm-docs tries to parse them as a go template. For example

___

## My chart

Find the labelled pod

[code]

___

[2022-09-09 09:53] GMartinez-Sisti commented on #143
I would also like to see this. We're using git to check if anything changed, but ideally the exit code would work for this.

[code]

[2022-09-09 12:11] GMartinez-Sisti commented on #52
We're using a similar approach that show diffs and also missing files. This is the cleanest we could create:

[code]

- Using `actions/checkout@v3` with `ref: ${{ github.event.pull_request.head.sha }}` is required to be able to use git commands, otherwise a commit merge is created on top of the tree and that breaks the functionality
- `git diff --exit-code` fails if there are git changes and shows

[2022-10-12 10:39] chgl commented on #164
You should be able to escape the `{{`s:

[code]

produces:

[code]

https://felix.ehrenpfort.de/notes/2022-03-01-escape-curly-braces-in-go-templates/

[2022-10-31 10:03] remidebette commented on #90
Having this would be a great improvement

[2022-11-06 19:07] bukowa commented on #118
https://www.markdownguide.org/extended-syntax/#escaping-pipe-characters-in-tables

[2022-11-09 08:44] stoetti opened #165 "Support for creating docs of named templates in library charts"
We are using library charts to distribute common templates using the [named template feature](https://helm.sh/docs/chart_template_guide/named_templates/) of helm. As the number of development teams and new developers grow the documentation of those templates becomes more and more important.

Therefore, it would be great if the documentation of those templates could be generated just like the doc o

[2022-11-09 14:19] stoetti commented on #90
Any plans on this enhancements?

[2022-11-10 12:45] thepaulmacca commented on #165
I've been thinking about this as well - would love to know if anyone out there has come up with a way of doing it!

[2022-11-17 09:50] florianrusch-zf opened #166 "Ignore comment"
Hey, I would like to document in my `values.yaml` a value with more information than in my `README.md`.

Example:

[code]

In this example I just want to have the first line in the `README.md`. Is this somehow possible?

[2022-11-23 08:45] RetGal commented on #162
You just have to define a custom `README.md.gotmpl` without the `{{ template "helm-docs.versionFooter" . }}` part.